<form action="/users/register-post">
    <label>Email</label>
    <input type="text" name="email" />
    <br/>
    <label>Password</label>
    <input type="password" name="password" />
    <br/>
    <label>First name</label>
    <input type="text" name="first_name" />
    <br/>
    <label>Last name</label>
    <input type="text" name="last_name" />
    <br/>
    <button type="submit">Register</button>

</form>
